<<<<<<< HEAD
body{
  min-height: 1000px;
  background: rgb(2,0,36);
  background: linear-gradient(45deg, rgba(0,212,255,0.8) 50%, rgba(255,255,255, 0.9) 50%);
  background-repeat: no-repeat;
}
=======
html body {
  background-color:#16a596;
}

hr {
  background-color:rgb(126, 185, 240);
  height:2px;
  border:none;
  
}
footer .col-sm-3 {
  width:100%;
  text-align: center;
  padding:50px;
}

>>>>>>> b756e043fc232f525c3d01cff2a6042cb451c4e7
#description{
  color:#16a596;
}

.col-md-6{
  background-color: #aee6e6;   
}

#details{
  color:#16a596;
  font-weight:bold;
}

#w-form{
  color:cornflowerblue;
  
<<<<<<< HEAD
}
footer .col-sm-3 {
  width:100%;
  text-align: center;
  padding:50px;
}

hr {
  height:3px;
  border:none;
 
}


=======
}
>>>>>>> b756e043fc232f525c3d01cff2a6042cb451c4e7
